body{
	background-color: #FF5733;
	font-family: calibri;
	
}

h1{
	color: #8909F3;
}

h2{
	color: #9FC2F8;
}

p{
	color: #FFFFFF;
}

#color{
	color: #FFC854;
}

#color1{
	color: #FFFF00;
}

li{
	color: #FFFFFF;
}

a{
	color: #0059b3;
}